<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

       
        

       


    @Styles.Render("~/Content/css")

    @using Ugb.Models
    @{List<SideBarItem> actionlist = new List<SideBarItem>();

        actionlist.Add(new SideBarItem("fa fa-file-text-o", "Dados Cadastrais", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-usd", "Boleto", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-desktop", "Boletim", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-credit-card", "Carteira Estudantil", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-file", "Termo Aditivo", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-adjust", "PAE", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-file", "Formulário para Estágio", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-file", "Formulário de Atividades Complementares", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-file", "Documentos Pendentes", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-file", "Renovação", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-usd", "Carta de Quitação", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-desktop", "NEAD", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-book", "Tutoriais", Url.Action("Index", "Alunos")));
        actionlist.Add(new SideBarItem("fa fa-pencil", "CPA", Url.Action("Index", "Alunos")));

    }

</head>
<body class="skin-blue sidebar-mini fixed">


    <header class="header">
  
        <a href='@Url.Action("Index", "Home")' class="logo">
            Portal Ugb
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="label label-success">2</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Comunicados</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>

                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../img/ugblogo.png" class="img-circle" alt="User Image" />
                                            </div>
                                            <h4>
                                                Suporte
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Feriado prolongado</p>
                                        </a>
                                    </li>
                                    <li>

                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../img/ugblogo.png" class="img-circle" alt="User Image" />
                                            </div>
                                            <h4>
                                                Suporte
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Palestra sobre segurança da informação...</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-warning"></i>
                            <span class="label label-warning">2</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Você tem 2 notificações</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning danger"></i> Atualize seus dados
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning danger"></i> Compareça a secretaria
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>Lucas Martins <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <img src="../../img/avatar3.png" class="img-circle" alt="User Image" />
                                <p>
                                    Lucas Martins - Sistemas de Informação
                                    <small>Ingressou em 23/02/2017</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Trocar senha</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../../img/avatar3.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>Olá, Estudante</p>

                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                @using (Html.BeginForm("Index", "Alunos", FormMethod.Get, new { @class = "form-inline sidebar-form" }))
                {
                  
                    <div class="input-group">
                        <input type="text" name="busca" class="form-control" placeholder="Buscar um aluno" />
                        <span class="input-group-btn">
                            <button type='submit' value="Buscar" id='search-btn' class="btn btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                }

                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->



                <ul class="sidebar-menu">
                    @foreach (var item in actionlist)
                    {
                        <li class="treeview">
                            <a href="@item.urlLink">
                                <i class="@item.icon"></i>
                                <span>@item.texto</span>

                            </a>
                        </li>
                    }


                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>


                @RenderBody()
    </div><!-- ./wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/script")


    @RenderSection("scripts", required: false)

</body>
</html>
